API_CORE_PORT=3001
API_CORE_HOST=0.0.0.0
DATABASE_URL=postgresql://beuni:beuni@postgres:5432/beuni?schema=public
REDIS_URL=redis://redis:6379
API_SIM_BASE_URL=http://api-simulation:3002
BIRTHDAY_QUEUE_NAME=birthday-queue