# Postgres
POSTGRES_DB=beuni
POSTGRES_USER=beuni
POSTGRES_PASSWORD=beuni
POSTGRES_PORT=5433
POSTGRES_HOST=localhost

# Prisma URL padrão local
DATABASE_URL=postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_HOST}:${POSTGRES_PORT}/${POSTGRES_DB}?schema=public

# Redis
REDIS_HOST=localhost
REDIS_PORT=6379
REDIS_URL=redis://${REDIS_HOST}:${REDIS_PORT}

# API Core
API_CORE_PORT=3001
API_CORE_HOST=0.0.0.0
API_CORE_BASE_URL=http://localhost:${API_CORE_PORT}

# API Simulation
API_SIM_PORT=3002
API_SIM_HOST=0.0.0.0
API_SIM_BASE_URL=http://localhost:${API_SIM_PORT}

# Birthday Check Service
BIRTHDAY_CHECK_CONCURRENCY=5
BIRTHDAY_QUEUE_NAME=birthday-queue

# Client
VITE_API_CORE_URL=${API_CORE_BASE_URL}